.carte {
    border: 2px solid black;
    border-radius: 10px;
    width: 600px;
    height: 315px;
    background-color: rgb(210, 211, 212);
}

h1 {
    text-align: center;
    margin: 0px 0 0px 0;
    font-family:Verdana, sans-serif;
    font-size: 20px;
    }
h2 {
 text-align: center;
 margin: 0px 0 0px 0;
 font-family:Verdana, sans-serif;
 font-size: 13px;
}

.flag{
  width: 50px;
  height: 25px;
  padding-right: 10px; 
  margin: 0;
  float: right; 
}

.marianne {
  width: 50px;
  height: 25px;
  padding-left: 10px; 
  float: left; 
}
   
.profile {
    width: 150px; 
    height: 220px;
    margin: 20px 0 0px 0;
    padding-left: 10px;
    padding-bottom: 20px;
    float: left;
}

.text {
    margin: 20px 0 0px 170px;
    font-family: Tahoma, sans-serif;
    font-size: 7px;
    padding-bottom: 10px;
}

h3, p {
    margin: 5px 0 15px 0;
    line-height: 1.2px;
}

.span {
  width: 100vh;
  min-width: 10px;
  max-width: 10px;
}

